:root {
    --main-color: #00C3DA;
}

::selection {
    background-color: #1f1f1f;
    color: white;
}

body {
    font-family: 'Source Sans 3', sans-serif;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:768px) {
    .container {
        width: 750px
    }
}

@media (min-width:992px) {
    .container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px
    }
}

/* Mean heading */
.mean-heading {
    position: relative;
}

.mean-heading h2 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: -1px;
    font-weight: 700;
    color: #1f1f1f;
    line-height: 1.3;
    font-size: 38px;
}

.mean-heading h2::before {
    content: 'c';
    position: absolute;
    color: #ececec;
    font-size: 60px;
    bottom: 35%;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
}

.mean-heading p {
    font-weight: 400;
    font-size: 18px;
    font-family: 'Source Sans 3', sans-serif;
    color: #787878;
}

/* End of global */
/* Start of nav */
nav {
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    box-shadow: 5px 5px 15px 0 rgba(31, 31, 31, 0.07);
}

nav .icons i {
    line-height: 1.5;
    transition: color .15s ease-in-out;
}

nav .icons::before {
    height: 100%;
    width: 2px;
    background-color: #eee;
    content: '';
    top: 0;
    position: absolute;
}

nav li:hover,
nav .navbar-nav .nav-link:hover,
nav .navbar-nav .nav-link.active {
    color: #787878;
}

nav li,
nav .navbar-nav .nav-link {
    color: black;
    cursor: pointer;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.navbar-brand {
    position: relative;
}

nav button {
    border-left: 1px solid black;
}


nav .navbar-collapse {
    border-top: 1px solid #e6e6e6;
}

@media screen and (max-width: 992px) {
    nav .icons {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    nav .navbar-collapse {
        border: none;
    }
}

@media screen and (max-width: 340px) {
    .navbar-brand {
        width: 60%;
    }
}

/* End of nav */
/* Start of home */
.home {
    background-image: linear-gradient(rgba(13, 9, 4, 0.6), rgba(13, 9, 4, 0.6)), url(../images/bg-image-29.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    color: white;
}

.homeTwo {
    background-image: linear-gradient(rgba(13, 9, 4, 0.6), rgba(13, 9, 4, 0.6)), url(../images/bg-image-28.jpg);
}

.home-content h1 {
    font-size: 100px;
    font-weight: 700;
    letter-spacing: -3;
    margin-bottom: 10px;
}

.home-content button {
    position: relative;
    padding: 0 30px;
    height: 50px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -0.04em;
    overflow: hidden;
    text-transform: capitalize;
    background-color: var(--main-color);
    color: white;
}

.home-content button:nth-child(2) {
    background-color: transparent;
    border: 1px solid transparent;
    border-color: white;
    margin-left: 5px;
}

.home-content button:nth-child(1) {
    margin-right: 5px;
}

.home-content button:nth-child(2):hover {
    background-color: white;
    color: black;
}

.home-content button:nth-child(1):hover {
    background-color: #00D5EE;
    transform: translatey(-2%);
}

@media screen and (max-width: 556px) {
    .home-content h1 {
        font-size: 62px;
    }
}

.home-content p {
    font-size: 18px;
}

@media screen and (max-width: 556px) {
    .home-content p {
        font-size: 16px;
    }
}

/* start Carousel*/
.arrows {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50px;
}

.arrows .arr {
    cursor: pointer;
    position: relative;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-left: 0;
    line-height: 50px;
    color: #fff;
    font-size: 28px;
    display: grid;
    place-items: center;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.arrows .arr::before {
    content: '';
    transition: all .3s ease;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;
    background-color: white;
    z-index: -1;
}

.arrows .arr:hover {
    color: #000;
}

.arrows .arr:hover::before {
    right: 0;
}

.carousel-indicators .cur {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

@media (max-width:767px) {
    .arrows {
        display: none;
    }
}

/* End Carousel*/
/* End of home */
/* Start abt */
/* about-annimation */

.about {
    padding: 110px 0;
    border-bottom: 1px solid #eee;
}

.about .container .content h6 {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    color: #1f1f1f;
    font-weight: 500;
}

.about .container .content p {
    font-weight: 300;
    font-size: 24px;
    margin: 20px 0;
    color: #787878;
}

.about .container .content button {
    padding: 0 30px;
    height: 50px;
    transition: all .3s ease;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: 0.05em;
    color: #1f1f1f;
    border-color: #dedede;
    background-color: transparent;
    margin-top: 28px;
}

.about .container .content button:hover {
    background-color: black;
    color: #fff;
}



/* animation */
.animated-text span {
    font-size: 26px;
    text-transform: capitalize;
    font-weight: 300;
    overflow: hidden;
    color: var(--main-color);
    position: relative;
    display: inline-flex;
}

.animated-text span::after {
    content: "websites";
    display: inline-block;
    animation: typing 9s steps(10) infinite;
    width: 0ch;
    height: auto;
    color: var(--main-color);
    right: 0;
    top: 0;
}

.animated-text span::before {
    content: '';
    width: 2px;
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    right: 0;
    animation: blinking .6s linear alternate infinite;
}

@keyframes typing {
    25% {
        content: "websites";
        width: 8ch;
    }

    40% {
        width: 0ch;
    }

    60% {
        content: "softwares";
        width: 8ch;
    }

    70% {
        width: 0ch;
    }

    85% {
        content: "apps";
        width: 4ch;
    }

    90% {
        width: 0ch;
    }

}

@keyframes blinking {
    100% {
        opacity: 0;
    }
}

/* End animation */
/* End abt */
/* Start team */
.team .content {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.team .layer {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: hidden;
    top: 100%;
    overflow: hidden;
    color: white;
    background-color: #18c9dde2;
    transition: all 400ms ease-in-out;
}

.team .content:hover .layer {
    top: 0;
    opacity: 1;
    visibility: visible;
}

.team .layer .team-con {
    bottom: 20px;
    left: 20px;
    position: absolute;
    color: #fff;
    margin: 0;

}

.team .layer .team-con h6 {
    font-size: 13px;
    letter-spacing: 0.04em;
    font-weight: 600;
}

.team .layer .team-con p {
    color: #fff;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}



/* End team */
/* Start services */
.services {
    position: relative;
    background-color: #626262;
    color: white;
    padding-top: 110px;
    padding-bottom: 110px;
}

.second-cont {
    padding-right: 15px;
}

.second-cont {
    padding-top: 50px;
}

.third-cont,
.last-cont {
    margin-top: 25px;
    margin-bottom: 25px;
}

.services .first-cont {
    margin: 25px 0;
    font-size: 13px;
    letter-spacing: 0.1em;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;
    text-align: center;
}

.main-heading h2 {
    position: relative;
    z-index: 10;
    font-size: 38px;
    letter-spacing: -1px;
    font-weight: 700;
}


.main-heading h2::before {
    content: 'W';
    position: absolute;
    top: -25px;
    left: 0%;
    z-index: -1;
    color: #6B6B6B;
    font-size: 60px;
}

@media only screen and (max-width: 991px) {
    .main-heading h2::before {
        left: 50%;
        transform: translateX(-50%);
    }
}

/* End services */
/* Start prices */
.price {
    padding-top: 110px;
    padding-bottom: 110px;
}

.price .box {
    box-shadow: 0 0 65px rgba(0, 0, 0, 0.1);
    border: 1px solid #f3f3f3;
    max-width: 400px;
    padding: 45px 35px;
    margin: 50px auto 25px;
    position: relative;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    text-transform: capitalize;
}

.box .upper-cont {
    border-bottom: 1px solid #eee;
}

.price .box .upper-cont h4 {
    font-size: 13px;
    margin: 0;
    font-weight: 400;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #1f1f1f;
    line-height: 1.3;
}

.price .box .upper-cont h2 {
    font-size: 55px;
    font-weight: 500;
    letter-spacing: -3px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #1f1f1f;
    line-height: 1.3;
    margin: 15px 0;
}

.price .box .upper-cont h2 span {
    font-size: 18px;
    font-weight: 400;
    vertical-align: top;
}

.price .box .bottom-cont ul li {
    padding: 8px 0;
    color: #787878;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.price .box .bottom-cont button {
    position: relative;
    padding: 0 16px;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    font-weight: 600;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -0.04em;
    text-transform: capitalize;
    background-color: var(--main-color);
    color: white;
}

.price .box .bottom-cont button:hover {
    background-color: #00D5EE;
}

.price .highlight .upper-cont h2 {
    color: var(--main-color);
}


.price .highlight::before {
    content: 'best value';
    position: absolute;
    top: 40px;
    right: 35px;
    font-family: 'Poppins', sans-serif;
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: #00c3da;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
}

@media only screen and (min-width: 992px) {
    .price .highlight {
        transform: scale(1.08);
        -webkit-transform: scale(1.08);
    }
}

/* End prices */
/* Start  feedback */
.feedback {
    padding-bottom: 100px;
}

.feedback .content .main-cont {
    position: relative;
    background-color: #fff;
    padding: 75px 100px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
    max-width: 750px;
    margin: 50px auto;
    text-align: center;
    border-radius: 10px;
}

.feedback .content img {
    position: absolute;
    width: 100px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.feedback .content .heading h4 {
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.05em;
    margin-top: 0;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #1f1f1f;
    line-height: 1.3;
}

.feedback .content .main-cont h2 {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 24px;
    letter-spacing: -0.03em;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #1f1f1f;
    line-height: 1.3;
}

.feedback .content .main-cont h4 {
    font-family: 'Poppins', serif;
    font-size: 12px;
    letter-spacing: 0.03em;
    font-weight: 500;
    color: #787878;
}

.feedback .content .main-cont p {
    font-size: 18px;
    font-weight: 300;
    font-family: 'Source Sans 3', sans-serif;
    color: #333;
    line-height: 1.5;
}


.feedback .carousel-indicators button {
    margin: 0 5px -40px 0;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.1);
}

.feedback .carousel-indicators button.active {
    background-color: var(--main-color);
}

.feedback i {
    position: absolute;
    top: 50%;
    margin-top: 50px;
    height: 50px;
    font-size: 30px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 100;
    cursor: pointer;
    color: #000;
    opacity: 1;
}

.feedback i.right {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: 50px;
    height: 50px;
    font-size: 30px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 100;
}

.feedback i:hover {
    color: var(--main-color);
    margin-left: -10px;
}

.feedback i.right:hover {
    margin-right: -10px;
}

@media (min-width:992px) and (max-width:1200px) {
    .feedback i.right {
        padding-left: 50px;
    }

    .feedback i.left {
        padding-right: 50px;
    }
}

@media (max-width:991px) {
    .feedback i {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .feedback .content .main-cont {
        padding: 100px 50px 50px;
    }
}

/* End  feedback */
/* Start contact */
.contact .second-col {
    padding-top: 110px;
    padding-bottom: 110px;
}

.contact .main-heading p {
    font-weight: 400;
    font-size: 18px;
    font-family: 'Source Sans 3', sans-serif;
    color: #787878;
}

.contact .main-heading h2::before {
    content: 'G';
    top: -0.5em;
    left: -0.15em;
    text-align: center;
    font-size: 76px;
    opacity: 0.06;
}

iframe {
    cursor: url(https://maps.gstatic.com/mapfiles/openhand_8_8.cur), default;
    touch-action: pan-x pan-y;
}

.contact .form-control {
    height: 50px;
    padding: 0 15px;
    font-size: 15px;
    line-height: 50px;
    border: 2px solid #eee;
    border-radius: 0;
    box-shadow: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.contact .form-control:focus {
    border-color: #1f1f1f;
}

.content label {
    color: #1f1f1f;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 13px;
}

textarea.form-control {
    resize: none;
    min-height: 110px;
    line-height: inherit;
    padding-top: 15px;
    padding-bottom: 15px;
}

.contact .btn {
    position: relative;
    padding: 0 30px;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
    border-width: 0;
    font-size: 14px;
    font-weight: 600;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -0.04em;
    overflow: hidden;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    border: none;
    background-size: 300% 100%;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    transform: translateY(-1px);
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

@media only screen and (max-width: 991px) {
    .contact .main-heading h2::before {
        left: 0;
        transform: translateX(0);
    }

    .contact .second-col {
        width: 70%;
        margin: 0 auto;
    }

    iframe {
        min-height: 400px;
    }
}

@media only screen and (max-width: 767px) {
    .contact .second-col {
        width: 100%;
        margin: 0px auto;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media only screen and (min-width: 991px) {
    .form-control {
        width: 75%;
    }

    .contact .second-col {
        padding-left: 110px;
    }
}

/* End contact */