body {
    font-family: 'Source Sans Pro', sans-serif;
}

@media screen and (max-width: 1400px) {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

}

nav{
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 5px 5px 15px 0 rgba(31, 31, 31, 0.07);
}

nav .icons i {
    line-height: 1.5;
    transition: color .15s ease-in-out;
}

nav .icons::before {
    height: 100%;
    width: 2px;
    background-color: #eee;
    content: '';
    top: 0;
    position: absolute;
}

nav li:hover,
nav .navbar-nav .nav-link:hover,
nav .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.5);
}
nav li,
nav .navbar-nav .nav-link {
    color: black;
    cursor: pointer;
}

.navbar-brand{
    position: relative;
}

nav button {
    border-left: 1px solid black;
}


nav .navbar-collapse {
    margin-top: 15px;
    border-top: 1px solid #e6e6e6;
}

@media screen and (max-width: 992px) {
    nav .icons{
        display: none;
    }
}
@media screen and (min-width: 992px) {
    nav .navbar-collapse {
        border: none;
    }
}

